body{
    background-color: black;
    color: white;
}
.dmom{
    text-align: center;
}

p{
    color:rgb(0, 0, 180);
    font-size: 30px;
}
.flexcontainer{
    display: flex;
}
.flex2{
    display: flex;
}
.d4{
    flex: 2;
}
.d5{
    flex: 2;

}
.dad{
    text-align: center;
}

